@charset "UTF-8";


/* 
Cores
quase preto: #211D26
meio cinza: #332F40
azul: #1A1F73
azul mais escuro: #021F59

Gradiente
#131017 to bottom #161E4C
*/

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #021f59;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width 1s, height 1s;
}

section#login > div#imagem {
    display: block;
    background-image: url(../imagens/star.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

/* medias queries */

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 80vw;

    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: left top;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: left;
        width: 60%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 40%;
    }
}